# node-sass 安装失败的解决办法，
#   配置如下保存后,删除之前安装失败的包，npm uninstall node-sass(第一次安装请跳过此步)
#   重新安装 npm install node-sass@4.14.1 -D
phantomjs_cdnurl=http://cnpmjs.org/downloads
sass_binary_site=https://npm.taobao.org/mirrors/node-sass
registry=https://registry.npm.taobao.org